

/* ***************************** */


.landingdiv {
  margin: auto; /*puts the div in middle*/

  display: flex;
  flex-direction: column; /*solved vertical fitting problem */

  width: 75%;
  text-align: center;
  /*border: 3px solid black;*/
  /*box-shadow: 5px 10px #888888;*/
  padding: 50px;
}

/* ***************************** */

/* unvisited link */
a:link {
  color: #88CCEE;
}

/* visited link */
a:visited {
  color: #cd1076;
}

.downloadnav {
  float: right;
}


.downloadbutton {
  align-items: center;
  background: #36393e;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 8px;
  border-image-source: linear-gradient(to left, #179966, #40dba0);
  /*
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  */
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  justify-content: center;
  line-height: 1em;
  max-width: 500px;
  min-width: 50px;
  /*
  width: 100%;
  */
  padding: 5px 5px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: auto;
}


/* ***************************** */

.toolbutton {
  align-items: center;
  background-image: linear-gradient(144deg, #332288, #5B42F3, 70%,#88CCEE);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 500px;
  min-width: 200px;
  padding: 40px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: auto;
}

.toolbutton:active,
.toolbutton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .toolbutton {
    font-size: 24px;
    min-width: 196px;
  }
}

select {
  text-align: left;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Roboto', sans-serif;
}

th {
  text-align: left;
  font-weight: bold;
  font-size: calc(10px + 1vmin);
  font-family: 'Roboto', sans-serif;
}

td {
  text-align: left;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table.statstable {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 24px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 0px;
  border-spacing: 10px;
    color:#0096ff; 
  
}

table.divtable2 {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

div.divSearchField {
    text-align: left;
    font-weight: 200;
    font-size: calc(10px + 1vmin);
    font-family: 'Roboto', sans-serif;
}

div.divtable {
position: absolute;
    left: 10px;
    width: calc(100% - 10px);

/*  width: 500px;*/
  height: 1000px;
  overflow: auto;
}

.App-header {
  background-color: #332288;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 1vmin);
  color:#0096ff; 
  font-weight: bold;
  /*rgb(15, 96, 163);*/
}

.Logo-info {
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #000000;
  font-weight: bold;
}

.withspacer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttonspacer {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

color: #ffffff;
  background-color: #0096ff;
  border-color: #0096ff;
  border: none;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Roboto', sans-serif;
/*
  color: #333;
  background-color: #fff;
  border-color: #ccc;
*/
}

.App-divider {
  background-image: linear-gradient(144deg, #332288, #5B42F3, 70%,#88CCEE);
  min-height: 3vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  font-size: calc(24px + 1vmin);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding: 20px;
}

.App-body {
  //background-color: #36393e;
  min-height: 100vh;
}

.App-link {
  color: #88CCEE;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container_map {
  height: 500px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #88CCEE;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: -0.04em;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 15px 0;
  font-weight: 200;
}

blockquote {
  text-align: left;
  margin: 0;
  padding-left: 1.4rem;
  border-left: 4px solid #dadada;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}

.pcenter {
  color: rgb(0, 150, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 15px 0;
  font-weight: 200;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #332288;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.topnav a:hover {
  background-color: #332288;
  color: #88CCEE;
  cursor: pointer;
}

.topnav a.active {
  background-color: #332288;
  color: #88CCEE;
  font-weight: 800;
}

.topnav-right {
  float: right;
}

.columndrop {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

color: black;
  background-color: white;
  border-color: #0096ff;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Roboto', sans-serif;
}

.textbox {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

  color: black;
  background-color: white;
  border-color: #0096ff;
  border-width: thin;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Roboto', sans-serif;
}

.toggleview {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  position: absolute;
  right:0;
  

color: white;
  /*background-color: #00DDEB;*/
  background-color: transparent;
  border: none;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Roboto', sans-serif;
/*
  color: #333;
  background-color: #fff;
  border-color: #ccc;
*/
}

.toggleview:hover {
  background-color: transparent;
  color: #40dba0;
}



.divider {
  color: black;
}

.icon {
  color: black;
  padding: 15px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: #40dba0;
}

// landing page background

body {
  margin: 0;
  color: #fff;
    background-color: #000;
    padding: 0; 
}


.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(150px);
  z-index: -5000;
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}


.gradient-1 {
  background: rgb(51, 34, 136) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 700px;
  height: 700px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 60%;
  top: 40%;
  z-index: -2;
  animation-name: animation-gradient-1;
}
.gradient-2 {
  background: rgb(128, 0, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 600px;
  height: 600px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 40%;
  top: 60%;
  z-index: -1;
  animation-name: animation-gradient-2;
}
.gradient-3 {
  background: rgb(136, 204, 238) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 500px;
  height: 500px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  z-index: -3;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
    rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
    rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
    rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
    rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
    translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
    translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
    translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
    translateY(10%);
  }
}